body{
    margin: 0;
    padding: 0;
    background-color: rgba(10, 8, 60, 0.918);
}
.title{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 30px;
    line-height: 40px;
    margin-top: 15px;
    color: rgb(202, 202, 114);
}
.container{
   text-align: center;
}
.box{
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
    margin: 10px;
    border: 8px solid black;
    border-radius: 30px;
}
.Start{
    font-family:'Press Start 2P', cursive ;
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    background-color: rgb(234, 234, 234);
    border: 1px solid black;
}

@media(min-width:500px){
    .box{
        width: 200px;
        height: 200px;
    }
}
@media(max-width:400px){
    .title{
        font-size: 1.5rem;
    }
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.pressed{
    background-color: gray;
}
.game-over{
    background-color: rgb(227, 64, 64);
}